.person-details {
  display: flex;
  flex-direction: row;
	padding-top: 1rem;
}

.person-details .img-cont {
	width: 30%;
	height: 200px;
}


.person-details .person-image {
  object-fit: scale-down;
  height: 100%;
  width: 100%;
}

.person-details .list-group-item {
  padding: .25rem;
}

.person-details .list-group-item .term{
  margin-right: .5rem;
}

.person-details .card-body {
	padding-bottom: 0;
	height: 50%;
}